/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.3.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/


.padding-10 {
    padding: 10px;
}

.icon i {
    margin-top: 15px;
}

.container .feature-box {
    height: 400px;
}

h1.logo-font {
    font-size: 44px;
}