/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

body.login {
    padding: 0;
    padding-bottom: 0px;
    min-height: 0px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    max-width: 400px;
}

label {
    font-weight: 700;
}

.calendar_item {
    height: 120%;
}
.jarviswidget.well img {
    max-width: 100%;
}

#sparks li h5 {
    margin: 0;
}


#radio-status-rent .btn:not(.active) {
    background-color: #8AA1B3;
    border-color: #8AA1B3;
}